{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
    {% load static %}
    {%block css%}
        <title>BookCase</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bienvenida.css' %}">
    {%endblock%}

</head>
{% block content %}
{% load static %}
<body>
    <header class="contenedor">
        <nav class="navbar">
            <a class="navbar-brand" href="#">BookCase</a>
            <form class="form-inline">
                <a class="btn btn-info" href="{% url 'usuario:registro' %}">Registro</a>
                <a class="btn btn-info m-1" href="{% url 'usuario:inicioSesion' %}">Inicia sesion</a>
            </form>
        </nav>
        <div class="contains">
            <h1 class="slogan">
                Bienvenido a BookCase, donde te vamos a recomendar los mejores libros
            </h1>
        </div>
    </header>
</body>
{% endblock %}
</html>
