.container-fluid{
    display: flex;
    justify-content: space-around;
}
.infoLibreria{
    padding: 2em;
    width: 25%;
    height: 80vh;
    box-shadow: 5px 0 5px -5px #333;
    z-index: 5;
}
.libreriaVisual{
    padding: 2em;
    width: 75%;
    display: flex;
    justify-content: center;
}
.libreria{
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.libreria1{
    height: 25vh;
}
.libreria2{
    height: 50vh;
}
.libreria3{
    height: 70vh;
}
.estante{
    width: 90%;
    border: 1px solid black;
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.libreria1>.estante{
    height: 80%;
}
.libreria2>.estante{
    height: 40%;
}
.libreria3>.estante{
    height: 28%;
}
.libro{
    border: 1px solid black;
    background-color: #A9B7C0;
    width: 5%;
    height: 70%;
}
@media (max-width: 840px) {
    .container-fluid{
        display: block;
    }
    .infoLibreria{
        width: 100%;
        height: auto;
        box-shadow: 0 5px 5px -5px #333;
        text-align: center;
    }
    .descripcion{
        display: none;
    }
    .libreriaVisual{
        padding: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;

    }
    .libreria{
        width: 100%;
    }

}
