.libros{
    display: flex;
    flex-direction: row;
}
.libro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.divGen{
    display: flex;
    align-items: center;
}
.icono{
    font-size: 2em;
    margin-right: 0.5em;
    color: #F8D7D0;
}
.container-section{
    margin-bottom: 2em;
}