.caja{
    display: flex;
}
h5{
    text-align: center;
}
.generosCheck{
    width: 70%;
}
.maxGen{
    width: 30%;
}
.maxGeneros{
    font-style: italic;
    text-align: right;
}
span{
    margin-left: 0.7em;
}
h4{
    margin-top: 1em !important;
}
