{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    {%block css%}
    <title>BookCase</title>
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
  <!-- As a link -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
  <h1>Estas en la home</h1>
  <h2>Generos</h2>
  {% for genero in generos %}
        <h3>{{ genero.nombre }}</h3>
        <p>{{ genero.descripcion }}</p>
  {% endfor %}
  <h2>Libros más nuevos</h2>
  {% for libro in libros %}
    <h3>{{ libro.titulo }}</h3>
    <p>{{ libro.sinopsis }}</p>
    <img src="{{ libro.imagen }}">
  {% endfor %}
  <h2>Libros</h2>
</body>
{% endblock %}
</html>
