{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {%block css%}
    <title>BookCase</title>
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
  <!-- As a link -->
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="btn-group usuario">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button"><a href="{% url 'usuario:perfil' %}">Mi Perfil</a></button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button"><a href="{% url 'logout' %}">Cerrar sesión</a></button>
          </div>
      </div>
  </nav>
  <div class="container">
      <h1>Estas en la home</h1>
      <h2>Generos</h2>
      {% for genero in generos %}
            <h3>{{ genero.nombre }}</h3>
            <p>{{ genero.descripcion }}</p>
      {% endfor %}
      <h2>Libros más nuevos</h2>
      <div class="row">
          {% for libro in libros %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0">
              <div>
                  <img src="{{ libro.imagen }}" style="height: 320px">
                  <p><a href="{% url 'usuario:libro' libro.id %}">{{ libro.titulo }}</a></p>
              </div>
          </div>
          {% endfor %}
      </div>
      <h2>Libros</h2>
  </div>

</body>
{% endblock %}
</html>
