{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {%block css%}
    <title>BookCase</title>
        <link href="{% static 'css/home.css' %}">
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
  <!-- Navegador -->
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="btn-group usuario">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button"><a href="{% url 'usuario:perfil' %}">Mi Perfil</a></button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button"><a href="{% url 'logout' %}">Cerrar sesión</a></button>
          </div>
      </div>
  </nav>
  <!-- Contenedor -->
    <div class="container">
  <!-- Inicio Generos -->
    <h1>Generos</h1>
    <div class="carousel slide" data-ride="carousel" id="multi_item">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
            {% for genero in generos1 %}
                <a href="{% url 'usuario:genero' %}">
                    <div class="col-sm"><img class="d-block w-100" src="{% static 'generos/'|add:genero.nombreImagen %}" alt="1 slide" ></div>
                </a>
            {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            {% for genero in generos2 %}
          <div class="col-sm"><img class="d-block w-100" src="{% static 'generos/'|add:genero.nombreImagen %}" alt="4 slide"></div>
            {% endfor %}
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#multi_item" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi_item" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Fin Generos -->
      {% for genero in generos %}
            <h3>{{ genero.nombre }}</h3>
            <p>{{ genero.descripcion }}</p>
      {% endfor %}
      <h2>Libros más nuevos</h2>
      <div class="row">
          {% for libro in librosNuevos %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0">
              <div>
                  <img src="{{ libro.imagen }}" style="height: 320px">
                  <p><a href="{% url 'usuario:libro' libro.id %}">{{ libro.titulo }}</a></p>
              </div>
          </div>
          {% endfor %}
      </div>
      <h2>Libros recomendados</h2>
      <div class="row">
          {% for libro in librosRecomendados %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0">
              <div>
                  <img src="{{ libro.imagen }}" style="height: 320px">
                  <p><a href="{% url 'usuario:libro' libro.id %}">{{ libro.titulo }}</a></p>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
<script src="{% static 'JS/home.js' %}"></script>
</body>
{% endblock %}
</html>
