{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {%block css%}
    <title>BookCase</title>
        <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
  <!-- Navegador -->
  <nav class="navbar navbar-light navbar-dark bg-dark navegador">
      <a class="navbar-brand" href="{% url 'usuario:home' %}"><img src="{% static 'imagenes/logo/logo.png' %}" width="150px"></a>
      <div class="btn-group usuario">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
          </button>
           <div class="dropdown-menu dropdown-menu-right ">
              <a class="dropdown-item " href="{% url 'usuario:perfil' %}">Mi Perfil</a>
                {% if admin %}
                    <a class="dropdown-item" href="{% url 'usuario:add' %}">Añadir o editar</a>
               {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'usuario:logout' %}">Cerrar sesión</a>
          </div>
      </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navegador">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'usuario:home' %}">INICIO <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario:libros' %}">LIBROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'usuario:explorador' %}">EXPLORAR</a>
          </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:autores' 'A' %}">AUTORES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:librerias' %}">MIS LIBRERIAS</a>
            </li>
        </ul>
      </div>

      <form class="form-inline" action="{% url 'usuario:buscador' %}" method="GET">
          {% csrf_token %}
        <input class="form-control mr-sm-2" name="libro" id="buscador" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
      </form>

    </nav>
  <!-- Fin navegador -->
<div class="container contenedor">
    <h1>{{ lista }}</h1>
    <div class="row libros">
        {% for libro in libros %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0 libro">
                <div>
                    <img src="{{ libro.libro.imagen }}" style="height: 320px">
                    <p><a href="{% url 'usuario:libro' libro.id %}">{{ libro.libro.titulo }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Footer -->
	<section id="footer">
		<div class="container container-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/ecaroortega2"><i class="fab fa-facebook-square"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/estefiy"><i class="fab fa-twitter-square"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/estefy950/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/estefania95"><i class="fab fa-github-square"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><a href="{% url 'usuario:politica' %}">Política de privacidad</a></p>
					<p class="h6">&copyBookCase</p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
</body>
{% endblock %}
</html>