{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {%block css%}
        <title>BookCase</title>
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
  <!-- Navegador -->
  <nav class="navbar navbar-light navbar-dark bg-dark navegador">
      <a class="navbar-brand" href="{% url 'usuario:home' %}"><img src="{% static 'imagenes/logo/logo.png' %}" width="150px"></a>
      <div class="btn-group usuario">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
          </button>
           <div class="dropdown-menu dropdown-menu-right ">
              <a class="dropdown-item " href="{% url 'usuario:perfil' %}">Mi Perfil</a>
               {% if usuario.usuario.is_superuser %}
                    <a class="dropdown-item" href="{% url 'usuario:add' %}">Añadir</a>
               {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'usuario:logout' %}">Cerrar sesión</a>
          </div>
      </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navegador">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'usuario:home' %}">INICIO <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario:libros' %}">LIBROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'usuario:explorador' %}">EXPLORAR</a>
          </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:autores' 'A' %}">AUTORES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:librerias' %}">MIS LIBRERIAS</a>
            </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MIS LIBRERIAS</a>
            <div class="dropdown-menu" aria-labelledby="dropdown08">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </div>

      <form class="form-inline" action="{% url 'usuario:buscador' %}" method="GET">
          {% csrf_token %}
        <input class="form-control mr-sm-2" name="libro" id="buscador" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
      </form>

    </nav>
  <!-- Fin navegador -->
<div class="container">
    <h2>{{ usuario.usuario.username.upper }}</h2>

<h4>Generos</h4>
<p>Añade o elimina tus geners favoritos. Puedes añadir hasta un máximo de 5 generos.</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generos">Editar  <i class="fas fa-pencil-alt"></i></button>
<!-- Modal de generos-->
<div class="modal fade" id="generos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form action="{% url 'usuario:perfil' %}" method="post">
            {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir o editar generos</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body caja">
        <div class="generosCheck">
            {% for genero in generos %}
            <input class="single-checkbox" type="checkbox" name="genero" value="{{ genero }}" {% for generoUser in generoUser %}
              {% if genero == generoUser %}
                checked
              {% endif %}
              {% endfor %}>{{ genero.nombre }}
            <br>
            {% endfor %}
        </div>
      <div class="maxGen">
          <p class="maxGeneros">Máximo 5 generos</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>

  <h4>Listas</h4>
  <h5>Leídos</h5>
    {% for leido in leidos %}
        <img src="{{ leido.libro.imagen }}">
    {% endfor %}
{% if leer %}
    <h5>Leer</h5>
    {% for leer in leer %}
        <img src="{{ leer.libro.imagen }}">
    {% endfor %}
{% endif %}
{% if comprar %}
  <h5>Comprar</h5>
    {% for comprar in comprar %}
        <img src="{{ comprar.libro.imagen }}">
    {% endfor %}
{% endif %}
{% if abandonados %}
  <h5>Abandonado</h5>
    {% for abandonado in abandonados %}
        <img src="{{ abandonado.libro.imagen }}">
    {% endfor %}
{% endif %}
</div>
<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/ecaroortega2"><i class="fab fa-facebook-square"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/estefiy"><i class="fab fa-twitter-square"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/estefy950/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/estefania95"><i class="fab fa-github-square"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><a href="{% url 'usuario:politica' %}">Política de privacidad</a></p>
					<p class="h6">&copy All right Reversed. BookCase</p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
</body>
    <script src="{% static 'JS/perfil.js' %}"></script>
{% endblock %}
</html>
