{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {%block css%}
        <title>BookCase</title>
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    {%endblock%}
</head>
{% block content %}
{% load static %}
<body>
    <div class="contenedor">
        <a href="bienvenida.html" class="close"><i class="fas fa-times"> </i></a>
        <div class="conten">
            <div class="contenedorForm">
                <h2>INICIAR SESIÓN</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control formulario" id="usuario" name="username" aria-describedby="Usuario" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control formulario" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <a href="">¿Has olvidado la contraseña?</a>
                    </div>
                    <button type="submit" class="btn btn-primary formulario">Acceder</button>
                </form>
            </div>
        </div>
    </div>

</body>
{% endblock %}
</html>