.contenedor{
    min-height: 51.5vh;
}
/* Navegador */
.sticky-top{
    z-index: 900;
}
.navegador{
    background-color: #B7D7D9 !important;
    color: black !important;
    box-shadow: 0 4px 2px -2px gray;
}
.container{
    padding: 1em;
}
.container-footer{
    padding: 0;
    padding-bottom: 1em;

}
.row{
    margin: 0px !important;
}


/* Footer */

#footer{
    background-color: #B7D7D9 !important;
     box-shadow: 0 -4px 2px -2px gray;
}
/* Botones */
.btn{
    background-color: #F8D7D0 !important;
    border: 1px solid black;
}
.btn:hover{
    background-color: #E0B3B1 !important;
}
.btn-danger{
    background-color: #ff3f43 !important;
    color: black;
}
/* Iconos */
a>i{
    font-size: 2em;
    color: #F8D7D0;
    text-shadow: 1px 2px #00000066
}
/* Links */
a{
    color: black;
}
a:hover{
    color: black;
}

/* Libros */
.libroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.libros.row{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
.divGen{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.icono{
    font-size: 2em;
    margin-right: 0.5em;
    color: #F8D7D0;
}


@media (max-width: 600px) {
    h2{
        text-align: center;
    }
    .form-inline{
        flex-flow: row nowrap;
        width: 70%;
    }
}
