.header{
    width: 100%;
    height: 60vh;
    background: url("bienvenida.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.contains{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slogan{
    color: white;
    text-shadow: 2px 2px black;
}