.contenedor{
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}
.imagen{
    width: 60%;
    height: 100%;
}
.registro{
    width: 40%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 2em;
}
.conteTexto{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
}

.contentForm{
    padding-top: 1em;
}
.formulario{
    margin-top: 2em;
    margin-bottom: 2em;
}

input.formulario{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
input.formulario:focus{
    box-shadow: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #EFD9C1;
}

button.formulario{
    background-color: #EFD9C1;
    border: none;
    color: black;
    border-radius: 1px solid ;
}
button.formulario:hover{
    color: #EFD9C1;
    border: none;
    background-color: black;
    border-radius: 3px solid ;
}
@media (max-width: 650px) {
    .imagen{
        display: none;
    }
    .registro{
        width: 100%;
    }
  }